<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../Style/PIC.css">
	<script src="../JS/PIC.js"></script>
	<!-- <link rel="stylesheet" href="../Style/DAY.css">
	<script src="../JS/DAY.js"></script> -->
</head>

<body>
	<div class="container text-center">
		<div class="row pt-5">
			<div class="col-12">
				<h1>HAPPY BIRTHDAY 🎂 生日快樂 ~ </h1><span class="badge badge-pill badge-warning"><span id="div_day"></span>天❤️</span>
			</div>
		</div>

	</div>

	<main>
		<div id="gallery">
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-z6EZndux45ZA_O08qfX868q5k_oHAclfq0fvZyIFALWY9e-V9ZlvSXIYEh0JBNm1ZK77B7jj3nkfZTzgWDuwVKqSvgcA=w2912-h2384"
					alt="Pink and blue clouds at sunset. " title="Photo by Jeremy Doddridge for Unsplash">
				<figcaption>2022-04-01<br>吃壽司</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-z6EZndux45ZA_O08qfX868q5k_oHAclfq0fvZyIFALWY9e-V9ZlvSXIYEh0JBNm1ZK77B7jj3nkfZTzgWDuwVKqSvgcA=w2912-h2384"
					alt="大尖山"
					title="大尖山">
				<figcaption>2022-04-16<br>爬大尖山</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-z2PWHnUVucJuADM4pMcer5bXD4FPC-B_GrRgqOvIg2H3qm6fq2jEgxL9TGEuITIEfGyfoWcwckazuEq_KqD2LVOWb-6g=w2912-h3344"
					alt="情人湖" title="情人湖">
				<figcaption>2022-05-15<br>情人湖</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-ye4mCSmO-3hNoSI8a4N0_bSMgi9puo82fa9P_s1iiZXD6phdClgEpr6L5tPpCgAuE0IaLc83UnKSZrgyQ1AMllCkP2=w2912-h3344"
					alt="野柳" title="野柳">
				<figcaption>2022-05-28<br>野柳</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wML1wIN-_6uG5dVfJfS_xtSLQagKTo01hSZna-eFCxqZawje-OQeULWfW_TjAHlwK4kj86_xYAYE-H1hn1_mbv9tcq=w3720-h3344"
					alt="動物園"
					title="動物園">
				<figcaption>2022-06-03<br />動物園</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-yRpTgJkH1L-3xvLk8XBwcRmRS0k3GTC2J5Wdrbp_MrJLjm9MgnjogMlauExyPJQ-E1kI5-i2n9vkP54Ii6i8ryPADCAA=w3720-h3344"
					alt="侯硐" title="侯硐">
				<figcaption>2022-06-11<br />侯硐</figcaption>
			</figure>
			<figure>
				<img src='https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xMT7WLyEsOSeF22nkK1zssLw5IvVpReBJELyUTqhIXU-QjckvphVb3mHK3iQvbd6ka7nlaRXtLGEuNACLoPyogwN37Kw=w3720-h3344'
					alt='沙崙海灘' title="沙崙海灘">
				<figcaption>2022-06-26<br />淡水沙崙海灘</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wgJHn1rlatyrPfIhT7kiFYlmMiJm-1XUKPpXf5PAPviaf9LDrmYtGkyojFj2UwNPdnRyLFqdK4jwlzPgtsJsNTIArFSA=w3720-h3344"
					alt="大尖山" title="大尖山">
				<figcaption>2022-07-10<br />爬大尖山、游泳</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xMl9PD1oc7NPe3WS6cLeurigi1Gn3m42BcCGHYxfgbWgdvykfNvGuXPuPP9pP_AsSSgpWwAs3WgvrIzl_EAoC2X0QcyA=w3720-h3344"
					alt="情人湖" title="情人湖">
				<figcaption>2022-08-06<br />情人湖</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xXD_jHAR8J1p8QxAZBoQUO6NQPvgGoGvQiwdYQdlte5tiGNEJ30olA80gPWS-XRFJ2e_GxTVCmbuAxwE5pS7m0ddhB=w3720-h3344"
					alt="台南" title="台南">
				<figcaption>2022-09-02~04<br />台南</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-y51LKaWl02Ai9Gx-EnDSVBCidx-JERXmPsL4QhFin8fU9LPmx1qk_tQKZYiZ8A_-IaSxO_qrfogLHkPD0nD_AWWUmj=w3720-h3344"
					alt="北投泡溫泉" title="北投泡溫泉">
				<figcaption>2022-10-01~02<br />北投泡溫泉、西門町</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wKcZTF2iHtVUR-u1O5xYMW4SMAalSoH4QdIV8aRKLmHOTnhSGoiubtvBYNzIVNSen-LyTCjhshZYYt0hzv4WwlDIAw=w3720-h3344"
					alt="北投泡溫" title="北投泡溫">
				<figcaption>2022-10-29<br />北投泡溫</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-yeYqnR_J7EHRV_8kTnkmx8Iox9E86dqIwzuH-MWKFnfIiB66qKY4c6aVA1FR_KPY2TyHv46KlnLSEbu5HUsU7sQoFF6A=w3720-h3344"
					alt="white sea of clouds. " title="Photo by Szabo Viktor for Unsplash">
				<figcaption>2022-12-03~04<br />*基隆</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-yeYqnR_J7EHRV_8kTnkmx8Iox9E86dqIwzuH-MWKFnfIiB66qKY4c6aVA1FR_KPY2TyHv46KlnLSEbu5HUsU7sQoFF6A=w3720-h3344"
					alt="海鮮" title="海鮮">
				<figcaption>2022-12-10<br />基隆貴貴的海鮮</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zqsIYrO-MmrReULv_243kdhsqAbsVZmn1pa9nj8Y5OwrK5IEn_HNHwJUPLguafSmwL1iPfkMZjAO5z_GuJh6U2IBYG=w3720-h3344"
					alt="吃火鍋過聖誕節" title="吃火鍋過聖誕節">
				<figcaption>2022-12-24<br />吃火鍋過聖誕節</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zqEGu3Wyg86NDl1xlMZbvFM5iOFuGQSuXfLwwt9sNYo0V36t7Ay55NAGYs4bheTxc1cH4IwwL2MXwMsYHISucLi1O0Bg=w3720-h3344"
					alt="烏石港" title="烏石港">
				<figcaption>2022-12-31<br />烏石港</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xza5ckLTCZ-AnCHziHy1xsiiebSr4r6miGIG2M4S3NhGJWdy0XnUmj8HK1z9xbYyGacOMWKJl2lu76VrsFbmJC_Cr5rA=w3720-h3344"
					alt="仙女棒" title="仙女棒">
				<figcaption>2023-01-01<br />基隆看風景、玩仙女棒</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-yMw9y3yrcMqFL5hkAwZhMi6-Y4QWfwui7JssKsptfam0YXOzSB27k_G7o83CaWngtUN4oMNunydIrvaq0yxzN1Fb6O=w3720-h3344"
					alt="吃飯飯" title="吃飯飯">
				<figcaption>2023-01-19<br />淡水吃飯飯</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xysXj_lp__DSGSKoC75UsLtvaMbtoRx6c7CFuSRTgGwo9XgQxNDSDUq-lbpLq5yW_BDagLIxvGSBcjYAHFkoEAWHEO=w3720-h3344"
					alt="烏來" title="烏來">
				<figcaption>2023-02-24~26<br />北海岸、烏來</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zJ6yZ3xThWz-na7h1DV5cO1OIFR79Xa3TCBCjAtbGvGfjxZ49YitZvIFCyw2ou05pkatETYSelb99HHuyat8ruZzppYQ=w3720-h3344"
					alt="礁溪" title="礁溪">
				<figcaption>2023-04-02~04<br />礁溪</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wcAzLzTr_3pp9ISV9xQwSHNL0yIfNdxmp47L5KNuw7sf1fX1_35V7F19hhJe2T-D0Afoie4Vpgmr_lIsAxGyB0YAgOZA=w3720-h3344"
					alt="寶看海芋" title="寶看海芋">
				<figcaption>2023-03-22<br/>帶藍寶看海芋</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wTbHo0kOe3BDbOo9R5C31xnqmI3qi-JzRRQAHroBi2INun-T7x74HvNjuOiaIIuey81HWpA6IV3S2o_Bt9KGIGtpqiFQ=w3720-h3344"
					alt="樟樹步道" title="樟樹步道">
				<figcaption>2023-05-28<br/>樟樹步道</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zsCgAj8WbN4FD350vc2tD0k_-GXtXrRh7KIqJPjkxzGNHSn-D38oF8CocgSpcWzVm0zjznMcxG8rr9QTfsWfTkFhcUBQ=w3720-h3344"
					alt="基隆地標公園" title="基隆地標公園">
				<figcaption>2023-06-03<br/>基隆地標公園</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-z1PaOnl7aXXMyQgtHW0grq7d_xM_CnFb4vXTUT9yTgjfAmqyPDxVOtT5TKQOJ0T8YkeUgSrdjHC4JRGjfp_-L-RZau-w=w3720-h3344"
					alt="夕陽" title="夕陽">
				<figcaption>2023-06-19<br/>淡水看夕陽</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wefb-lB0vckpmCglPd_GLaUhKklcRm2VxUD9iFBVftoZn1tWXJ0zh9IgtqUgVPgYEqz-N7fsjBlcc1Vdu--asIrBamgw=w3720-h3344"
					alt="礁溪" title="礁溪">
				<figcaption>2023-07-01~02<br/>礁溪</figcaption>
			</figure>
			<figure>
				<img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-wsm_YUf0l4NP96V7XUnb-SalUEdzctyFqk02HvXyN8pPKJm66W7ds21qkByCAQQHG0jruXcYFWIA6_NsprejV62Ply=w3720-h3344"
					alt="大武崙沙灘" title="大武崙沙灘">
				<figcaption>2023-08-12<br/>大武崙沙灘</figcaption>
			</figure>
		</div>
	</main>
</body>
</html>
